 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 980px; PADDING-TOP: 0px; min-width: 980px
}
FORM.narrow {
	WIDTH: 540px; min-width: 540px
}
FORM FIELDSET {
	BORDER-RIGHT: #666666 0px; PADDING-RIGHT: 10px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 100%; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 5px; BORDER-LEFT: #666666 0px; PADDING-TOP: 10px; BORDER-BOTTOM: #666666 0px
}
FORM FIELDSET.odd {
	BACKGROUND-COLOR: #ffffff
}
FORM FIELDSET.even {
	BACKGROUND-COLOR: #fcfcfc
}
FORM FIELDSET LEGEND {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-WEIGHT: normal; FONT-SIZE: 150%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666666; PADDING-TOP: 0px
}
FORM A:link {
	TEXT-DECORATION: underline
}
FORM A:visited {
	TEXT-DECORATION: underline
}
FORM A:unknown {
	TEXT-DECORATION: underline
}
FORM A:hover {
	TEXT-DECORATION: underline
}
FORM A:active {
	TEXT-DECORATION: underline
}
LABEL {
	FONT-SIZE: 100%
}
LABEL U {
	FONT-STYLE: normal; TEXT-DECORATION: underline
}
INPUT {
	FONT-SIZE: 100%; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, sans-serif
}
SELECT {
	FONT-SIZE: 100%; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, sans-serif
}
TEXTAREA {
	FONT-SIZE: 100%; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, sans-serif
}
TEXTAREA {
	OVERFLOW: auto
}
FORM DIV.required {
	CLEAR: left; PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; MARGIN: 0px 0px 1px; WIDTH: 350px; PADDING-TOP: 1px
}
FORM DIV.optional {
	CLEAR: left; PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; MARGIN: 0px 0px 1px; WIDTH: 350px; PADDING-TOP: 1px
}
FORM DIV.required FIELDSET {
	CLEAR: none; BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 0px 142px; BORDER-LEFT: #666666 1px solid; WIDTH: 197px; PADDING-TOP: 0px; BORDER-BOTTOM: #666666 1px solid
}
FORM DIV.optional FIELDSET {
	CLEAR: none; BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 0px 142px; BORDER-LEFT: #666666 1px solid; WIDTH: 197px; PADDING-TOP: 0px; BORDER-BOTTOM: #666666 1px solid
}
FORM DIV.required FIELDSET LEGEND {
	PADDING-RIGHT: 3px; PADDING-LEFT: 9px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
FORM DIV.optional FIELDSET LEGEND {
	PADDING-RIGHT: 3px; PADDING-LEFT: 9px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
FORM DIV.required FIELDSET LEGEND {
	FONT-WEIGHT: bold
}
FORM DIV.required LABEL {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 0px 0px 5px; WIDTH: 130px; PADDING-TOP: 3px; TEXT-ALIGN: right
}
FORM DIV.optional LABEL {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 0px 0px 5px; WIDTH: 130px; PADDING-TOP: 3px; TEXT-ALIGN: right
}
FORM DIV.optional LABEL {
	FONT-WEIGHT: normal
}
LABEL.optional {
	FONT-WEIGHT: normal
}
FORM DIV.required LABEL {
	FONT-WEIGHT: bold
}
LABEL.required {
	FONT-WEIGHT: bold
}
FORM DIV.required FIELDSET LABEL {
	FONT-WEIGHT: normal
}
FORM DIV LABEL.labelCheckbox {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px 142px; WIDTH: 200px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
FORM DIV LABEL.labelRadio {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px 142px; WIDTH: 200px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
FORM DIV FIELDSET LABEL.labelCheckbox {
	MARGIN: 0px 0px 5px; WIDTH: 170px
}
FORM DIV FIELDSET LABEL.labelRadio {
	MARGIN: 0px 0px 5px; WIDTH: 170px
}
FORM DIV INPUT {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; MARGIN: 0px; WIDTH: 200px; PADDING-TOP: 1px
}
FORM DIV SELECT {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; MARGIN: 0px; WIDTH: 200px; PADDING-TOP: 1px
}
FORM DIV TEXTAREA {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; MARGIN: 0px; WIDTH: 200px; PADDING-TOP: 1px
}
FORM DIV P {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; MARGIN: 0px; WIDTH: 200px; PADDING-TOP: 1px
}
FORM SELECT OPTGROUP OPTGROUP {
	PADDING-LEFT: 20px
}
FORM SELECT OPTGROUP OPTION {
	PADDING-LEFT: 20px
}
FORM DIV IFRAME {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 210px; PADDING-TOP: 0px
}
FORM DIV INPUT.inputFile {
	WIDTH: 211px
}
FORM DIV INPUT.inputReadonly {
	MARGIN: 2px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: transparent; BORDER-BOTTOM-STYLE: none
}
FORM DIV SELECT.selectOne {
	PADDING-RIGHT: 1px; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; WIDTH: 209px; PADDING-TOP: 1px
}
FORM DIV SELECT.selectMultiple {
	PADDING-RIGHT: 1px; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; WIDTH: 209px; PADDING-TOP: 1px
}
FORM DIV INPUT.inputCheckbox {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 140px; WIDTH: 14px; PADDING-TOP: 0px; HEIGHT: 14px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
FORM DIV INPUT.inputRadio {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 140px; WIDTH: 14px; PADDING-TOP: 0px; HEIGHT: 14px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
INPUT.inputCheckbox {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 140px; WIDTH: 14px; PADDING-TOP: 0px; HEIGHT: 14px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
INPUT.inputRadio {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 140px; WIDTH: 14px; PADDING-TOP: 0px; HEIGHT: 14px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
FORM FIELDSET.submit {
	PADDING-RIGHT: 0px; PADDING-LEFT: 162px; PADDING-BOTTOM: 0px; WIDTH: auto; PADDING-TOP: 5px; TEXT-ALIGN: right
}
FORM.narrow FIELDSET.submit {
	PADDING-RIGHT: 0px; PADDING-LEFT: 162px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
FORM FIELDSET INPUT.inputSubmit {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; COLOR: #ffffff; PADDING-TOP: 0px; BACKGROUND-COLOR: #666666
}
FORM FIELDSET INPUT.inputButton {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; COLOR: #ffffff; PADDING-TOP: 0px; BACKGROUND-COLOR: #666666
}
INPUT.inputSubmit {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; COLOR: #ffffff; PADDING-TOP: 0px; BACKGROUND-COLOR: #666666
}
INPUT.inputButton {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; COLOR: #ffffff; PADDING-TOP: 0px; BACKGROUND-COLOR: #666666
}
UNKNOWN {
	FLOAT: left
}
FORM DIV.lookup {
	CLEAR: none; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 140px; WIDTH: 210px; PADDING-TOP: 0px; POSITION: relative
}
FORM DIV.date {
	CLEAR: none; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 140px; WIDTH: 210px; PADDING-TOP: 0px; POSITION: relative
}
FORM DIV.datetime {
	CLEAR: none; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 140px; WIDTH: 210px; PADDING-TOP: 0px; POSITION: relative
}
FORM DIV.time {
	CLEAR: none; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 140px; WIDTH: 210px; PADDING-TOP: 0px; POSITION: relative
}
FORM DIV.datetime DIV.date {
	FLOAT: left; MARGIN: 0px; WIDTH: 105px
}
FORM DIV.datetime DIV.time {
	FLOAT: left; MARGIN: 0px; WIDTH: 105px
}
FORM DIV.datetime DIV.date INPUT.inputText {
	WIDTH: 95px
}
FORM DIV.datetime DIV.time INPUT.inputText {
	WIDTH: 95px
}
FORM DIV.date SMALL {
	MARGIN: 0px; WIDTH: auto
}
FORM DIV.time SMALL {
	MARGIN: 0px; WIDTH: auto
}
FORM DIV.datetime DIV SMALL {
	MARGIN: 0px; WIDTH: auto
}
FORM DIV.scrolling {
	CLEAR: none; BORDER-RIGHT: #ffffff 2px inset; BORDER-TOP: #ffffff 2px inset; OVERFLOW-Y: auto; OVERFLOW-X: hidden; BORDER-LEFT: #ffffff 2px inset; WIDTH: auto; BORDER-BOTTOM: #ffffff 2px inset; HEIGHT: 6em
}
FORM DIV.scrolling LABEL.labelCheckbox {
	MARGIN: 0px 0px 0px 5px
}
FORM DIV INPUT.inputLookup {
	
}
FORM DIV BUTTON.buttonLookup {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 50% 50%; PADDING-LEFT: 0px; FONT-SIZE: 80%; RIGHT: 3px; BACKGROUND-IMAGE: url(/images/icon_lookup.gif); PADDING-BOTTOM: 0px; WIDTH: 1.8em; COLOR: #000000; TEXT-INDENT: -9999px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; TOP: 3px; HEIGHT: 1.6em
}
FORM DIV INPUT.inputDate {
	
}
FORM DIV BUTTON.buttonDate {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 80%; RIGHT: 3px; PADDING-BOTTOM: 0px; WIDTH: 1.8em; COLOR: #000000; PADDING-TOP: 0px; POSITION: absolute; TOP: 3px; HEIGHT: 1.6em
}
FORM DIV INPUT.inputTime {
	
}
FORM DIV BUTTON.buttonTime {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 80%; RIGHT: 3px; PADDING-BOTTOM: 0px; WIDTH: 1.8em; COLOR: #000000; PADDING-TOP: 0px; POSITION: absolute; TOP: 3px; HEIGHT: 1.6em
}
FORM DIV BUTTON.buttonTime {
	DISPLAY: none
}
FORM DIV.frame {
	CLEAR: none; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 200px; PADDING-TOP: 0px; POSITION: relative
}
FORM DIV.frame IFRAME {
	WIDTH: 200px; scrolling: auto
}
FORM DIV.wide DIV.frame {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 591px; PADDING-TOP: 0px
}
FORM DIV.frame DIV.frameButtons {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 2px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 0px; POSITION: absolute; TOP: 2px; HEIGHT: auto
}
FORM DIV BUTTON.buttonFrame {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; COLOR: #000000; LINE-HEIGHT: 1em; PADDING-TOP: 0px; FONT-FAMILY: webdings; HEIGHT: 1.7em
}
FORM DIV.frame IFRAME {
	
}
FORM DIV.pre {
	CLEAR: none; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 200px; PADDING-TOP: 0px; POSITION: relative
}
FORM DIV.wide {
	WIDTH: 579px
}
FORM DIV PRE {
	BORDER-RIGHT: white 2px inset; PADDING-RIGHT: 3px; BORDER-TOP: white 2px inset; PADDING-LEFT: 3px; OVERFLOW-X: auto; PADDING-BOTTOM: 21px; MARGIN: 0px; BORDER-LEFT: white 2px inset; WIDTH: 200px; PADDING-TOP: 1px; BORDER-BOTTOM: white 2px inset
}
FORM DIV.wide PRE {
	WIDTH: 579px
}
FORM DIV.pre DIV.preButtons {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; RIGHT: 2px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 0px; POSITION: absolute; TOP: 2px; HEIGHT: auto
}
FORM DIV.pre DIV.preButtons BUTTON.buttonPre {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; COLOR: #000000; LINE-HEIGHT: 1em; PADDING-TOP: 0px; FONT-FAMILY: webdings; HEIGHT: 1.7em
}
FORM DIV INPUT.rank {
	DISPLAY: block; MARGIN: 3px 0px
}
FORM DIV INPUT.rank-first {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 50% 50%; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 3px 0px; WIDTH: 24px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 36px
}
FORM DIV INPUT.rank-up {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 50% 50%; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 3px 0px; WIDTH: 24px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 36px
}
FORM DIV INPUT.rank-down {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 50% 50%; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 3px 0px; WIDTH: 24px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 36px
}
FORM DIV INPUT.rank-last {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 50% 50%; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 3px 0px; WIDTH: 24px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 36px
}
FORM DIV INPUT.rank-first {
	BACKGROUND-IMAGE: url(/images/icons/rank_first_16x16.gif)
}
FORM DIV INPUT.rank-up {
	BACKGROUND-IMAGE: url(/images/icons/rank_up_16x16.gif); MARGIN: 72px 0px 3px
}
FORM DIV INPUT.rank-down {
	BACKGROUND-IMAGE: url(/images/icons/rank_down_16x16.gif)
}
FORM DIV INPUT.rank-last {
	BACKGROUND-IMAGE: url(/images/icons/rank_last_16x16.gif)
}
FORM DIV SMALL {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 3px; FONT-SIZE: 88%; PADDING-BOTTOM: 1px; MARGIN: 0px 0px 5px 142px; PADDING-TOP: 1px
}
FORM FIELDSET DIV.notes {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 88%; FLOAT: right; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 10px 10px; BORDER-LEFT: #666666 1px solid; WIDTH: 158px; COLOR: #666666; PADDING-TOP: 5px; BORDER-BOTTOM: #666666 1px solid; HEIGHT: auto; BACKGROUND-COLOR: #ffffe1
}
FORM FIELDSET DIV.notes H4 {
	BORDER-RIGHT: #666666 0px solid; PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; BORDER-TOP: #666666 0px solid; PADDING-LEFT: 27px; FONT-SIZE: 110%; BACKGROUND-IMAGE: url(/images/icon_info.gif); PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #666666 0px solid; COLOR: #666666; PADDING-TOP: 3px; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-REPEAT: no-repeat
}
FORM FIELDSET DIV.notes P {
	MARGIN: 0em 0em 1.2em; WIDTH: auto; COLOR: #666666
}
FORM FIELDSET DIV.notes DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0em 0em 1.2em; WIDTH: auto; COLOR: #666666; PADDING-TOP: 0px
}
FORM FIELDSET DIV.notes DD {
	MARGIN: 0px 0px 0px 27px
}
FORM FIELDSET DIV.notes P.last {
	MARGIN: 0em
}
FORM FIELDSET DIV.notes DL.last {
	MARGIN: 0em
}
P.info {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 3px; BACKGROUND-POSITION: 3px 3px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 27px; BACKGROUND-IMAGE: url(/images/icon_info.gif); PADDING-BOTTOM: 5px; MARGIN: auto auto 5px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #ffffe1
}
P.error {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 3px; BACKGROUND-POSITION: 3px 3px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 27px; BACKGROUND-IMAGE: url(/images/icon_error.gif); PADDING-BOTTOM: 5px; MARGIN: auto auto 5px; BORDER-LEFT: #000000 1px solid; COLOR: #ffffff; PADDING-TOP: 3px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #ff0000
}
FORM DIV.error {
	BORDER-RIGHT: #ff0000 1px solid; BACKGROUND-POSITION: left top; BORDER-TOP: #ff0000 1px solid; BACKGROUND-IMAGE: url(/images/required_bg.gif); BORDER-LEFT: #ff0000 1px solid; COLOR: #666666; BORDER-BOTTOM: #ff0000 1px solid; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #ffffe1
}
FORM DIV.left DIV.error {
	BORDER-RIGHT: #ff0000 1px solid; BACKGROUND-POSITION: left top; BORDER-TOP: #ff0000 1px solid; BACKGROUND-IMAGE: url(/images/required_bg.gif); BORDER-LEFT: #ff0000 1px solid; COLOR: #666666; BORDER-BOTTOM: #ff0000 1px solid; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #ffffe1
}
FORM DIV.right DIV.error {
	BORDER-RIGHT: #ff0000 1px solid; BACKGROUND-POSITION: left top; BORDER-TOP: #ff0000 1px solid; BACKGROUND-IMAGE: url(/images/required_bg.gif); BORDER-LEFT: #ff0000 1px solid; COLOR: #666666; BORDER-BOTTOM: #ff0000 1px solid; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #ffffe1
}
FORM DIV.error P.error {
	BACKGROUND-POSITION: left top; FONT-WEIGHT: bold; FONT-SIZE: 88%; BACKGROUND-IMAGE: url(/images/icon_error.gif); MARGIN: 0px 0px 0px 118px; WIDTH: 200px; COLOR: #ff0000; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: transparent; BORDER-BOTTOM-STYLE: none
}
FORM DIV.left DIV.error P.error {
	BACKGROUND-POSITION: left top; FONT-WEIGHT: bold; FONT-SIZE: 88%; BACKGROUND-IMAGE: url(/images/icon_error.gif); MARGIN: 0px 0px 0px 118px; WIDTH: 200px; COLOR: #ff0000; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: transparent; BORDER-BOTTOM-STYLE: none
}
FORM DIV.right DIV.error P.error {
	BACKGROUND-POSITION: left top; FONT-WEIGHT: bold; FONT-SIZE: 88%; BACKGROUND-IMAGE: url(/images/icon_error.gif); MARGIN: 0px 0px 0px 118px; WIDTH: 200px; COLOR: #ff0000; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: transparent; BORDER-BOTTOM-STYLE: none
}
FORM DIV FIELDSET.nomargin {
	MARGIN-LEFT: 0px; WIDTH: auto
}
FORM DIV FIELDSET.nomargin LABEL {
	WIDTH: auto
}
FORM DIV OL.inputList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 0px
}
FORM DIV OL.inputList LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 20px; WIDTH: auto; PADDING-TOP: 0px
}
FORM DIV DL.inputList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 0px
}
FORM DIV DL.inputList DT {
	WIDTH: auto
}
FORM DIV DL.inputList DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 20px; WIDTH: auto; PADDING-TOP: 0px
}
FORM FIELDSET DIV.left {
	CLEAR: none; DISPLAY: inline; BORDER-LEFT-COLOR: #666666; FLOAT: left; BORDER-BOTTOM-COLOR: #666666; BORDER-TOP-STYLE: none; BORDER-TOP-COLOR: #666666; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-RIGHT-COLOR: #666666; BORDER-BOTTOM-STYLE: none
}
FORM FIELDSET DIV.right {
	CLEAR: none; DISPLAY: inline; BORDER-LEFT-COLOR: #666666; FLOAT: left; BORDER-BOTTOM-COLOR: #666666; BORDER-TOP-STYLE: none; BORDER-TOP-COLOR: #666666; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-RIGHT-COLOR: #666666; BORDER-BOTTOM-STYLE: none
}
FORM FIELDSET DIV.left {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
FORM FIELDSET DIV.right {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px -1px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
FORM FIELDSET HR {
	CLEAR: both
}
FORM INPUT {
	BACKGROUND-COLOR: #ffffff
}
FORM SELECT {
	BACKGROUND-COLOR: #ffffff
}
FORM TEXTAREA {
	BACKGROUND-COLOR: #ffffff
}
FORM IFRAME {
	BACKGROUND-COLOR: #ffffff
}
DIV.optional LABEL:unknown {
	content: ''
}
DIV.required LABEL:unknown {
	content: ''
}
FORM DIV LABEL.labelCheckbox {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 18px; PADDING-BOTTOM: 0px; WIDTH: 190px; TEXT-INDENT: -18px; LINE-HEIGHT: 120%; PADDING-TOP: 4px
}
FORM DIV LABEL.labelRadio {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 18px; PADDING-BOTTOM: 0px; WIDTH: 190px; TEXT-INDENT: -18px; LINE-HEIGHT: 120%; PADDING-TOP: 4px
}
LABEL.labelCheckbox {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 18px; PADDING-BOTTOM: 0px; WIDTH: 190px; TEXT-INDENT: -18px; LINE-HEIGHT: 120%; PADDING-TOP: 4px
}
LABEL.labelRadio {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 18px; PADDING-BOTTOM: 0px; WIDTH: 190px; TEXT-INDENT: -18px; LINE-HEIGHT: 120%; PADDING-TOP: 4px
}
FORM DIV LABEL.labelCheckbox INPUT.inputCheckbox {
	MARGIN: 0px
}
FORM DIV LABEL.labelRadio INPUT.inputRadio {
	MARGIN: 0px
}
LABEL.labelCheckbox INPUT.inputCheckbox {
	MARGIN: 0px
}
LABEL.labelRadio INPUT.inputRadio {
	MARGIN: 0px
}
FORM DIV FIELDSET INPUT.inputText {
	MARGIN: 0px 0px 0px 18px; WIDTH: 160px
}
FORM DIV FIELDSET INPUT.inputPassword {
	MARGIN: 0px 0px 0px 18px; WIDTH: 160px
}
FORM DIV FIELDSET INPUT.inputFile {
	MARGIN: 0px 0px 0px 18px; WIDTH: 160px
}
FORM DIV FIELDSET TEXTAREA.inputTextarea {
	MARGIN: 0px 0px 0px 18px; WIDTH: 160px
}
FORM DIV FIELDSET LABEL INPUT.inputText {
	MARGIN: 0px 0px 0px 5px; WIDTH: auto
}
FORM DIV LABEL.compact {
	PADDING-RIGHT: 10px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; TEXT-INDENT: 0px; PADDING-TOP: 4px
}
FORM DIV LABEL.first {
	MARGIN: 0px 0px 0px 142px
}
FORM DIV.wide {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; WIDTH: 734px; PADDING-TOP: 1px
}
FORM DIV.wide INPUT.inputText {
	MARGIN: 0px; WIDTH: 581px
}
FORM DIV.wide INPUT.inputPassword {
	MARGIN: 0px; WIDTH: 581px
}
FORM DIV.wide INPUT.inputFile {
	MARGIN: 0px; WIDTH: 581px
}
FORM DIV.wide SELECT {
	MARGIN: 0px; WIDTH: 581px
}
FORM DIV.wide TEXTAREA {
	MARGIN: 0px; WIDTH: 581px
}
FORM DIV.wide P {
	MARGIN: 0px; WIDTH: 581px
}
FORM DIV.wide IFRAME {
	WIDTH: 591px
}
FORM DIV.wide P {
	MARGIN: 0px 0px 20px 140px
}
FORM DIV.notes P {
	LINE-HEIGHT: 125%
}
FORM DIV SMALL {
	LINE-HEIGHT: 125%
}
FORM DIV.wide SMALL {
	MARGIN: 0px 0px 5px
}
