BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 80%; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 0px; FONT-FAMILY: Tahoma, Arial, sans-serif
}
TABLE.data {
	CLEAR: both; MARGIN: 0px; BEHAVIOR: url(/behaviors/tr.htc); WIDTH: 100%; BORDER-COLLAPSE: collapse
}
TABLE.data THEAD {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid
}
TABLE.data THEAD TR {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/images/containers/ext/tabs/home/subnav.gif); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #e5e5e5
}
TABLE.data THEAD TR TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 6px; VERTICAL-ALIGN: top; PADDING-TOP: 6px
}
TABLE.data THEAD TR TH {
	COLOR: #333333
}
TABLE.data THEAD TR TH A:link {
	COLOR: #333333
}
TABLE.data THEAD TR TH A:visited {
	COLOR: #333333
}
TABLE.data THEAD TR TH A:unknown {
	COLOR: #333333
}
TABLE.data THEAD TR TH A:hover {
	COLOR: #333333
}
TABLE.data THEAD TR TH A:active {
	COLOR: #333333
}
TABLE.data THEAD TR TH A:link {
	TEXT-DECORATION: underline
}
TABLE.data THEAD TR TH A:visited {
	TEXT-DECORATION: underline
}
TABLE.data THEAD TR TH A:unknown {
	TEXT-DECORATION: underline
}
TABLE.data THEAD TR TH A:hover {
	TEXT-DECORATION: underline
}
TABLE.data THEAD TR TH A:active {
	TEXT-DECORATION: underline
}
TABLE.data TBODY {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid
}
IMG.icon {
	BORDER-TOP-WIDTH: 0px; DISPLAY: inline; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.data TBODY TR TH A IMG.icon {
	BORDER-TOP-WIDTH: 0px; DISPLAY: inline; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.data TBODY TR TD A IMG.icon {
	BORDER-TOP-WIDTH: 0px; DISPLAY: inline; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.data TBODY TR {
	BACKGROUND-COLOR: #ffffff
}
TABLE.data TBODY TR:hover {
	CURSOR: pointer; BACKGROUND-COLOR: #dcdcdc
}
TABLE.data TBODY TR.over {
	CURSOR: pointer; BACKGROUND-COLOR: #dcdcdc
}
TABLE.data TH {
	FONT-WEIGHT: bold
}
TABLE.data TD {
	FONT-WEIGHT: normal
}
TABLE.data TH.left {
	TEXT-ALIGN: left
}
TABLE.data TD.left {
	TEXT-ALIGN: left
}
TABLE.data TH.center {
	TEXT-ALIGN: center
}
TABLE.data TD.center {
	TEXT-ALIGN: center
}
TABLE.data TH.right {
	TEXT-ALIGN: right
}
TABLE.data TD.right {
	TEXT-ALIGN: right
}
TABLE.data TH.top {
	VERTICAL-ALIGN: top
}
TABLE.data TD.top {
	VERTICAL-ALIGN: top
}
TABLE.data TH.middle {
	VERTICAL-ALIGN: middle
}
TABLE.data TD.middle {
	VERTICAL-ALIGN: middle
}
TABLE.data TH.bottom {
	VERTICAL-ALIGN: bottom
}
TABLE.data TD.bottom {
	VERTICAL-ALIGN: bottom
}
TABLE.data TBODY TH {
	BORDER-RIGHT: #666666 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #666666 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; BORDER-LEFT: #666666 0px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #666666 0px solid
}
TABLE.data TBODY TD {
	BORDER-RIGHT: #666666 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #666666 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; BORDER-LEFT: #666666 0px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #666666 0px solid
}
TABLE.bordered THEAD TH {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid
}
TABLE.bordered TBODY TH {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid
}
TABLE.bordered TBODY TD {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid
}
TABLE.data TBODY TH {
	WIDTH: auto
}
TABLE.data THEAD TR TH {
	TEXT-ALIGN: left
}
TABLE.data TBODY TR TD {
	TEXT-ALIGN: left
}
TABLE.data TBODY TR TH {
	TEXT-ALIGN: right
}
TABLE.data TH A:link {
	DISPLAY: block; WIDTH: auto; HEIGHT: auto
}
TABLE.data TH A:visited {
	DISPLAY: block; WIDTH: auto; HEIGHT: auto
}
TABLE.data TH A:unknown {
	DISPLAY: block; WIDTH: auto; HEIGHT: auto
}
TABLE.data TH A:hover {
	DISPLAY: block; WIDTH: auto; HEIGHT: auto
}
TABLE.data TH A:active {
	DISPLAY: block; WIDTH: auto; HEIGHT: auto
}
TABLE.data TD A:link {
	DISPLAY: block; WIDTH: auto; HEIGHT: auto
}
TABLE.data TD A:visited {
	DISPLAY: block; WIDTH: auto; HEIGHT: auto
}
TABLE.data TD A:unknown {
	DISPLAY: block; WIDTH: auto; HEIGHT: auto
}
TABLE.data TD A:hover {
	DISPLAY: block; WIDTH: auto; HEIGHT: auto
}
TABLE.data TD A:active {
	DISPLAY: block; WIDTH: auto; HEIGHT: auto
}
TABLE.data TH INPUT.inputCheckbox {
	MARGIN: 0px
}
TABLE.data TH INPUT.inputRadio {
	MARGIN: 0px
}
TABLE.data TD INPUT.inputCheckbox {
	MARGIN: 0px
}
TABLE.data TD INPUT.inputRadio {
	MARGIN: 0px
}
.odd {
	BACKGROUND-COLOR: #f6f6f6
}
TABLE.data TBODY TR.odd {
	BACKGROUND-COLOR: #f6f6f6
}
DIV.odd {
	BACKGROUND-COLOR: #f6f6f6
}
.even {
	BACKGROUND-COLOR: #e9e9e9
}
TABLE.data TBODY TR.even {
	BACKGROUND-COLOR: #e9e9e9
}
DIV.even {
	BACKGROUND-COLOR: #e9e9e9
}
TABLE.calendar THEAD TR TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
TABLE.calendar {
	TEXT-ALIGN: right
}
TABLE.calendar THEAD TR TH {
	TEXT-ALIGN: right
}
TABLE.calendar TBODY TR TH {
	TEXT-ALIGN: right
}
TABLE.calendar TBODY TR TD {
	TEXT-ALIGN: right
}
TABLE.calendar TH {
	WIDTH: 14%
}
TABLE.calendar TD {
	WIDTH: 14%
}
TABLE.calendar TD {
	
}
TABLE.small TD {
	
}
TABLE.calendar CAPTION {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; TEXT-ALIGN: center
}
TABLE.calendar CAPTION A.title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 78%; PADDING-TOP: 0px; TEXT-ALIGN: center
}
TABLE.calendar CAPTION A.previous {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 10%; PADDING-TOP: 0px; TEXT-ALIGN: left
}
TABLE.calendar CAPTION A.next {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 10%; PADDING-TOP: 0px; TEXT-ALIGN: right
}
TABLE.calendar TD.today {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #dcdcdc
}
TABLE.month TD A.viewing {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; MARGIN: -2px -4px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #666666 1px solid
}
TABLE.week TD A.viewing {
	BORDER-RIGHT: #666666 0px; PADDING-RIGHT: 4px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; MARGIN: -2px -4px; BORDER-LEFT: #666666 0px; PADDING-TOP: 1px; BORDER-BOTTOM: #666666 1px solid
}
TABLE.week TD A.first {
	BORDER-LEFT: #666666 1px solid
}
TABLE.week TD A.last {
	BORDER-RIGHT: #666666 1px solid
}
TABLE.calendar TFOOT TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TABLE.calendar TFOOT TR TD A:link {
	PADDING-RIGHT: 5px; DISPLAY: inline; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 0px
}
TABLE.calendar TFOOT TR TD A:visited {
	PADDING-RIGHT: 5px; DISPLAY: inline; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 0px
}
TABLE.calendar TFOOT TR TD A:unknown {
	PADDING-RIGHT: 5px; DISPLAY: inline; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 0px
}
TABLE.calendar TFOOT TR TD A:hover {
	PADDING-RIGHT: 5px; DISPLAY: inline; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 0px
}
TABLE.calendar TFOOT TR TD A:active {
	PADDING-RIGHT: 5px; DISPLAY: inline; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 0px
}
TABLE.calendar TD.wide {
	WIDTH: 100%
}
TABLE.calendar TBODY TR TH.rotated {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 100%; FILTER: flipH() flipV(); PADDING-BOTTOM: 5px; WIDTH: auto; ; WIDTH: expression('auto'); PADDING-TOP: 5px; WRITING-MODE: tb-rl; HEIGHT: auto; ; HEIGHT: expression('auto'); BACKGROUND-COLOR: #e5e5e5
}
TABLE.calendar TBODY TR TD DIV.date {
	BORDER-RIGHT: #666666 0px; BORDER-TOP: #666666 0px; FONT-WEIGHT: bold; FLOAT: right; BORDER-LEFT: #666666 1px solid; WIDTH: 2.2em; BORDER-BOTTOM: #666666 1px solid; FONT-STYLE: italic; TEXT-ALIGN: center
}
TABLE.calendar TBODY TR.odd TD DIV.date {
	BACKGROUND-COLOR: #e9e9e9
}
TABLE.calendar TBODY TR.even TD DIV.date {
	BACKGROUND-COLOR: #f6f6f6
}
TABLE.calendar TBODY TR TD DIV.date SMALL {
	FONT-WEIGHT: normal; FONT-SIZE: 33%; BORDER-BOTTOM: #666666 1px dotted; FONT-STYLE: normal
}
TABLE.calendar TBODY TR TD DIV.date SMALL A:link {
	DISPLAY: inline
}
TABLE.calendar TBODY TR TD DIV.date SMALL A:visited {
	DISPLAY: inline
}
TABLE.calendar TBODY TR TD DIV.date SMALL A:unknown {
	DISPLAY: inline
}
TABLE.calendar TBODY TR TD DIV.date SMALL A:hover {
	DISPLAY: inline
}
TABLE.calendar TBODY TR TD DIV.date SMALL A:active {
	DISPLAY: inline
}
TABLE.month TBODY TR TD DIV.date {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 120%; PADDING-BOTTOM: 2px; MARGIN: -2px -2px 5px 5px; PADDING-TOP: 2px
}
TABLE.week TBODY TR TD DIV.date {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 240%; PADDING-BOTTOM: 5px; MARGIN: -2px -2px 0px 10px; PADDING-TOP: 5px
}
TABLE.calendar TBODY TD UL {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE.calendar TBODY TD UL LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 20px; PADDING-TOP: 0px
}
TABLE.calendar TBODY TD UL LI A:link {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 2px
}
TABLE.calendar TBODY TD UL LI A:visited {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 2px
}
TABLE.calendar TBODY TD UL LI A:unknown {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 2px
}
TABLE.calendar TBODY TD UL LI A:hover {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 2px
}
TABLE.calendar TBODY TD UL LI A:active {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 2px
}
.marlett {
	FONT-FAMILY: Marlett
}
.webdings {
	FONT-FAMILY: webdings
}
.print {
	DISPLAY: none
}
