#set($path=$propertyUtil.getPoClassName($table).toLowerCase())
#set($pk=$table.getPk().getRef())
#set($formName=$propertyUtil.getFormClassName($table))
#set($id=$propertyUtil.getPropertyName($pk.code))
<%@ page contentType="text/html;charset=UTF-8" %>
<%@ include file="/include/header.jsp" %>
<html>
<head></head>
<script language="javascript">
  function check(){
     var form=document.forms[0];
     

     #foreach($checkCol in ${checkcols})
     #set($column=$propertyUtil.getPropertyName($checkCol.code))
     if(''==document.all.item("$column").value){
         alert("$checkCol.name"+"不能为空!");
         document.all.item("$column").focus();
         return false;
     }
     #end
     return true;
  }
  function save(){
     var form=document.forms[0];
     if(check()){
        form.submit();
     }
  }
  function ret(){
      var form=document.forms[0];
      if(form.method.value=='addSave'){
         form.method.value='list';
      }else{
        form.method.value='view';
      }
      form.submit();
  }
</script>
<body style="margin:10px;">
<html:form  action="/${path}.do"  method="post">	
  <html:hidden property="method"/>
  <html:hidden property="moduleTitle"/>
  <html:hidden property="$id"/>
<table border="0"  cellspacing="0"  cellpadding="0"  class="tableRegion"  width="100%" >
    <tr class="titleRow" >
		<td align="right">
		    	<mytag:Button  value="保存" icon="icon-save" hotkey='F10,121' onclick="javascript:save()"/>
		     	<mytag:Button  value="返回" icon="icon-back" hotkey='ESC,27' onclick="javascript:ret()"/>
		</td>
	</tr>
</table>	

<div class="eXtremeTable" >
<table id="ec_table"  border="0"  cellspacing="0"  cellpadding="0"  class="tableRegion"  width="100%" >
	<tr class="titleRow" >
		<td colspan="4" ><span><bean:write name="org.apache.struts.taglib.html.BEAN" property="moduleTitle"/></span></td>
	</tr>
	 #foreach($group in ${groups})
     <tr>
        <td width="20%" class="label">
            ${group.left.mask}$group.left.name
        </td>
        <td width="30%" class="input">
            <html:text property="$propertyUtil.getPropertyName($group.left.code)" ${group.left.maxlength} ${group.left.onblur} ${group.left.onkeydown}  size="20"   styleClass="field"/>        
        </td>
        #if($group.right)
         <td width="20%" class="label">
            ${group.right.mask}$group.right.name
        </td>
        <td width="30%" class="input">
			<html:text property="$propertyUtil.getPropertyName($group.right.code)"  ${group.right.maxlength} ${group.right.onblur}  ${group.right.onkeydown} size="20"   styleClass="field"/>
        </td>     
        
         #else
         <td  width="20%" class="label" >&nbsp;</td>
         <td  width="30%"  class="input">&nbsp;</td>          
         #end
     </tr>		  
     #end
</table>
</div>
</html:form>
</body>
<script language="javascript">
var element=getFirstElement();
if(element!=null){
  element.focus();
}
</script>
</html>	
