#set($formName=$propertyUtil.getFormClassName($table))
#set($springName=$propertyUtil.getSpringManagerName($table))
#set($pk=$table.getPk().getRef())
#set($dtlpk=$dtltable.getPk().getRef())
package ${formPackage};
import com.wxservice.framework.web.form.BaseForm;

/**
 * 
 * 描述：   Struts Form
 * 创建人：Gererator
 */

public class $formName extends BaseForm

{
	private static final long serialVersionUID = -1L;
	public $formName(){
		this.setService("$springName");
		this.setModuleTitle("${title}");
		this.setAnonymous("0");
	}
	
    $propertyUtil.getDataJavaType($pk)  $propertyUtil.getPropertyName($pk.code);
#foreach($column in $table.columns)
    $propertyUtil.getDataJavaType($column)  $propertyUtil.getPropertyName($column.code);
#end

    $propertyUtil.getDataJavaType($dtlpk)  $propertyUtil.getPropertyName($dtlpk.code);
#foreach($column in $dtltable.columns)
    $propertyUtil.getDataJavaType($column)  $propertyUtil.getPropertyName($column.code);
#end

    public $propertyUtil.getDataJavaType($dtlpk) $propertyUtil.getGetterMethod($dtlpk.code) () {
       return $propertyUtil.getPropertyName($dtlpk.code);
    }
    public void $propertyUtil.getSetterMethod($dtlpk.code)($propertyUtil.getDataJavaType($dtlpk) $propertyUtil.getPropertyName($dtlpk.code)) {
       this.$propertyUtil.getPropertyName($dtlpk.code) = $propertyUtil.getPropertyName($dtlpk.code);
    }
#foreach($column in $table.columns)
   /**
    * @return 返回 ${column.name}
    */
    public $propertyUtil.getDataJavaType($column) $propertyUtil.getGetterMethod($column.code) () {
       return $propertyUtil.getPropertyName($column.code);
    }
	
   /**
    * @param $propertyUtil.getPropertyName($column.code) 要设置的 $column.name
    */
    public void $propertyUtil.getSetterMethod($column.code)($propertyUtil.getDataJavaType($column) $propertyUtil.getPropertyName($column.code)) {
      this.$propertyUtil.getPropertyName($column.code) = $propertyUtil.getPropertyName($column.code);
    }
#end

#foreach($column in $dtltable.columns)
   /**
    * @return 返回 ${column.name}
    */
    public $propertyUtil.getDataJavaType($column) $propertyUtil.getGetterMethod($column.code) () {
       return $propertyUtil.getPropertyName($column.code);
    }
	
   /**
    * @param $propertyUtil.getPropertyName($column.code) 要设置的 $column.name
    */
    public void $propertyUtil.getSetterMethod($column.code)($propertyUtil.getDataJavaType($column) $propertyUtil.getPropertyName($column.code)) {
      this.$propertyUtil.getPropertyName($column.code) = $propertyUtil.getPropertyName($column.code);
    }
#end
}


