#set($path=$propertyUtil.getPoClassName($table).toLowerCase())
#set($pk=$table.getPk().getRef())
#set($formName=$propertyUtil.getFormClassName($table))
#set($id=$propertyUtil.getPropertyName($pk.code))
#set($dtlpk=$dtltable.getPk().getRef())
<%@ page contentType="text/html;charset=UTF-8" %>
<%@ include file="/include/header.jsp" %>
<html>
<head></head>
<script language="javascript">
  function update(){
     var form=document.forms[0];
     form.method.value='update';
     form.submit();
  }
  function del(){
     if(confirm('确认删除资料？')){
        var form=document.forms[0];
        form.method.value='delete';
        form.submit();
     }
  }
  function ret(){
     var form=document.forms[0];
     form.method.value='list';
     form.submit();
  }
  
  function addLine(){
     var form=document.forms[0];
     var action=form.action;
     var title=form.moduleTitle.value;
     var querystring='?method=addLine&$pk.code='+document.all.item("$pk.code").value;
     var url=action+querystring;
     openSubWindow600(url,title);
  }
  function view(pkid){
     var form=document.forms[0];
     var title=form.moduleTitle.value;
     var action=form.action;
     var querystring='?method=viewLine&$pk.code='+document.all.item("$pk.code").value+'&$dtlpk.code='+pkid;
     var url=action+querystring;

     openSubWindow600(url,title);
  }
   
</script>
<body style="margin:10px;">
<html:form  action="/${path}.do"  method="post">	
<html:hidden property="method"/>
<html:hidden property="$id"/>
<html:hidden property="findwhere"/>
<html:hidden property="moduleTitle"/>
<table border="0"  cellspacing="0"  cellpadding="0"  width="100%" >
	<tr class="titleRow" >
		<td align="right">
		    <mytag:Button invoke="isEdit" onclick="javascript:addLine()" icon="icon-edit"  hotkey="F2,113" value="增加明细"/>&nbsp;
		    
		    <mytag:Button invoke="isEdit" onclick="javascript:update()" icon="icon-edit"  hotkey="F4,115" value="修改"/>&nbsp;
               
            <mytag:Button invoke="isEdit" onclick="javascript:del()" icon="icon-delete"  hotkey="F5,116" value="删除"/>&nbsp;
                  
		    <mytag:Button  value="返回"   icon="icon-cancel" hotkey="ESC,27" onclick="javascript:ret()"/>
		</td>
	</tr>

</table>	

<div class="eXtremeTable" >
<table id="ec_table"  border="0"  cellspacing="0"  cellpadding="0"  class="tableRegion"  width="100%" >
	<thead>
	<tr class="titleRow" >
		<td colspan="4" ><span><bean:write name="org.apache.struts.taglib.html.BEAN" property="moduleTitle"/></span></td>
	</tr>
	      #foreach($group in ${groups})
           <tr>
              <td width="20%" class="label">
                 $group.left.name
              </td>
              <td width="30%" class="input">
		      <html:text property="$propertyUtil.getPropertyName($group.left.code)" disabled="true" size="20"   styleClass="field"/>
             </td>
         #if($group.right)
        <td width="20%" class="label">
            $group.right.name
        </td>
        <td width="30%" class="input">
			<html:text property="$propertyUtil.getPropertyName($group.right.code)" disabled="true" size="20"   styleClass="field"/>
        </td>            
 
         #else
          <td  width="20%" class="label">&nbsp;</td>
         <td  width="30%"  class="input">&nbsp;</td>                
         #end
 
    </tr>		  
     #end
</table>
</div>	

  <ec:table items="LISTS"  action="${ctx}/${path}.do"  title="" width="100%" form="${formName}"  rowsDisplayed="15"
            filterable="false"    autoIncludeParameters="false"  var="item">
	  <ec:row>
		  #foreach($column in ${dtleditcols})
		  <ec:column  property="$propertyUtil.getPropertyName($column.code)" title="$column.name" filterable="true" />
          #end
	  </ec:row>
  </ec:table>
  

</html:form>
</body>
</html>	
