<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean name="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="jobExecutorTrigger"/>
			</list>
		</property>
		<property name="configLocation" value="classpath:com/wxservice/framework/components/quartz/quartz.properties"/>
	</bean>
	<bean id="jobExecutor" class="com.wxservice.framework.components.quartz.JobExecutor"
		autowire="byName" lazy-init="true">
	</bean>	
	<bean id="jobExecutorDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="jobExecutor"/>
		<property name="targetMethod" value="execute"/>
	</bean>	
	<bean id="jobExecutorTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobExecutorDetail"/>
		<property name="cronExpression" value="${wxservice.job.triggertime}"/>		
	</bean>
	<bean id="bacukupDbJob" class="com.wxservice.framework.components.quartz.support.BacukupDbJob" autowire="byName" lazy-init="true"/>
	
	
</beans>
